{% extends 'base.html' %}

{% block content%}
{% if success%}
<div class="container-fluid position-fixed z">
    <div class="mt-4 float-end">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i> &nbsp;{{ success }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif%}

{% if danger%}
<div class="container-fluid position-fixed z">
  <div class="mt-4 float-end">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
     <i class="fas fa-exclamation-triangle"></i> &nbsp; {{ danger }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 </div>
</div>
{% endif %}

<div class="container-fluid h-custom pb-5" >
  <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col-md-9 col-lg-6 col-xl-5 mt-5">
          <img src="https://wdbucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/bg.png" alt="Index Logo"
            class="img-fluid login_logo">
        </div><div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 mb-5">
          <div class="line me-5" style="margin-top: 8rem; margin-left: 5px;">
            <h2 class="h2"  font-weight:bolder"> Personal Expense Tracker</h2>
            <h4 class="h4" style="color: grey;"> Beware of little expenses. A small leak will sink a great ship.</h4>
          </div>

          {% if not current_user.is_authenticated %}
          <button onclick="location.href='{{url_for('login')}}'" type="button" class="btn btn-success">Login</button>
          <button onclick="location.href='{{url_for('register')}}'"type="button" class="btn btn-warning">Register</button>

          {% endif %}


          {% if current_user.is_authenticated %}
          <button onclick="location.href='{{url_for('logout')}}'"  type="button" class="btn btn-danger">Logout</button>

          {% endif %}

        </div>
     
      </div>
  </div>

{% endblock%}